body {
    font-family: 'Josefin Sans', sans-serif;
}

.content {
    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

/*main-header*/
.main-header {
    width: 100%;
    height: 100px;
    background-color: #000;
}

.main-header .content {
    display: flex;
    justify-content: space-between;
}

.main-header .content .logo {}

.main-header .content .logo figure {
    width: 170px;
    height: 100px;
    padding: 5px 0;
}

.main-header .content .logo figure img {
    width: 100%;
    height: 100%;
}

/*main-nav*/
.main-header .content .main-nav {}

.main-header .content .main-nav ul {
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.main-header .content .main-nav ul li {
    padding: 0 15px;
    font-size: 25px;
}

.main-header .content .main-nav ul li a {
    text-decoration: none;
    color: #fff;
}

/*portada*/
.portada {
    position: relative;
    height: 600px;
    display: flex;
    text-align: center;
    justify-content: center
}

.portada a {}

.portada a figure {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.portada a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 0 7px #000;
}

.portada .content {
    height: 600px;
    position: absolute;
    width: 100%;
}

.portada .content .titulo {
    color: #000;
    text-decoration: none;
}

.portada .content .titulo h1 {
    font-size: 100px;
    font-weight: 900;
    margin-top: 15%;
}

.portada .content .titulo p {
    font-size: 40px;
    line-height: 1.3;
}

/*section one*/
.section-one {
    padding: 100px 0 0 0;
}

.section-one .content {
    display: flex;
    justify-content: space-around;
}

.section-one .content .cuadro {}

.section-one .content .cuadro a {}

.section-one .content .cuadro a figure {
    width: 450px;
    height: 600px;
}

.section-one .content .cuadro a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section-one .content .texto {
    padding: 0 0 0 20px;
}

.section-one .content .texto h2 {
    font-size: 50px;
}

.section-one .content .texto p {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 0 85px 0;
    line-height: 1.5;
}

.section-one .content .texto .buton {
    font-size: 20px;
    padding: 15px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
}

/*section-two*/
.section-two {
    padding: 200px 0;
}

.section-two .content {}

.section-two .content h2 {
    font-size: 50px;
    color: #000;
    padding: 0 10px;
}

.section-two .content ul {
    display: flex;
}

.section-two .content ul li {
    width: 500px;
    height: 650px;
    padding: 10px;
}

.section-two .content ul li a {
    text-decoration: none;
}

.section-two .content ul li a figure {
    width: 100%;
    height: 100%
}

.section-two .content ul li a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section-two .content ul li a h3 {
    padding: 20px 0;
    font-size: 25px;
    color: #000;
}

.section-two .content ul li a p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0;
}


/*section-three*/
.section-three {
    padding: 0 0 60px 0;
    background-color: #eee;
}

.section-three .content {}

.section-three .content h2 {
    font-size: 50px;
    color: #000;
    padding: 30px 10px;
}

.section-three .content ul {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.section-three .content ul li {
    background-color: #fff;
    width: 300px;
    margin: 10px;
    padding: 15px;
}

.section-three .content ul li a {
    text-decoration: none;
}

.section-three .content ul li a figure {
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.section-three .content ul li a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.section-three .content ul li a h4 {
    color: #000;
    font-size: 25px;
    padding: 20px 0;
}

.section-three .content ul li a p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 20px 0;
    line-height: 1.5;
}

/*section-four*/
.section-boleteria {
    padding: 150px 0;
}

.section-boleteria .content {
    display: flex;
    justify-content: space-between;
}

.section-boleteria .content .cuadro {
    width: 450px;
    height: 450px;
}

.section-boleteria .content .cuadro a {}

.section-boleteria .content .cuadro a figure {
    width: 100%;
    height: 100%;
}

.section-boleteria .content .cuadro a figure img {
    width: 100%;
    height: 100%
}

.section-boleteria .content .texto {
    padding: 25px;
}

.section-boleteria .content .texto h2 {
    font-size: 50px;
    color: #000;
}

.section-boleteria .content .texto p {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    padding: 20px 0 150px 0;
    line-height: 1.5;
}

.section-boleteria .content .texto .buton {
    font-size: 20px;
    padding: 15px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    text-decoration: none
}

/*Seccion galeria*/
.galeria-obras {}

.galeria-obras .content {}

.galeria-obras .content h1 {
    font-size: 45px;
    color: #352064;
    margin: 60px 0 0 40px;
}

.galeria-obras .content ul {
    padding: 0 0 70px 0;
}

.galeria-obras .content ul li {
    padding: 50px;
}

.galeria-obras .content ul li {
    text-decoration: none;
}

.galeria-obras .content ul li figure {
    width: 600px;
    height: 500px;
}

.galeria-obras .content ul li figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 10px #111;
}

.galeria-obras .content ul li h3 {
    font-size: 40px;
    color: #000;
    padding: 10px 0;
}

.galeria-obras .content ul li h4 {
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #000;
    font-weight: 600;
}

.galeria-obras .content ul li p {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #000;
    line-height: 1.5;
}

.description {
    display: none;
}

button {
    font-size: 20px;
    padding: 10px 40px 10px 40px;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    margin: 15px;
}

/*seccion artista*/
.artistas {}

.artistas .content {}

.artistas .content h1 {
    font-size: 50px;
    color: #352064;
    margin: 60px 0 0 40px;
}

.artistas .content h2 {
    font-size: 40px;
    color: #352064;
    margin: 10px 0 0 40px;
}

.artistas .content ul {
    padding: 0 0 70px 0;
}

.artistas .content ul li {
    padding: 50px;
}

.artistas .content ul li a {
    text-decoration: none;
}

.artistas .content ul li a figure {
    width: 350;
    height: 300px;
}

.artistas .content ul li a figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.artistas .content ul li a h3 {
    font-size: 40px;
    color: #000;
    padding: 10px 0;
}

.artistas .content ul li a p {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #000;
    padding: 35px 0;
    line-height: 1.5;
}

/*arte Psicodelico*/
.arte-psicodelico {}

.arte-psicodelico .content {}

.arte-psicodelico .content h1 {
    font-size: 50px;
    color: #352064;
    padding: 35px 0;
}

.arte-psicodelico .content figure {
    max-width: 1160px;
    height: 600px;
}

.arte-psicodelico .content figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.arte-psicodelico .content p.introduccion {
    font-family: 'Montserrat', sans-serif;
    font-size: 20;
    line-height: 1.5;
    padding: 25px 0;
    font-weight: 600;
}

.arte-psicodelico .content ul {
    padding: 0 0 70px 0;
}

.arte-psicodelico .content ul li {
    padding: 30px 0;
}

.arte-psicodelico .content ul li h2 {
    font-size: 35px;
}

.arte-psicodelico .content ul li p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5
}


/*main-footer*/
.main-footer {
    background-color: #000;
}

.main-footer .content {}

.main-footer .content ul {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.main-footer .content ul li { line-height: 30px}

.main-footer .content ul li .logo-footer {}

.main-footer .content ul li .logo-footer figure {
    width: 200px;
    height: 200px;
}

.main-footer .content ul li .logo-footer figure img {
    width: 100%;
    height: 100%;
}

.main-footer .content ul li h3 {
    color: #fff;
    font-size: 25px;
}

.main-footer .content ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Boleteria */
.datos .title h1 {
    font-size: 50px;
    color: #352064;
    padding: 35px 0;
}

.datos .title p {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #000;
    padding: 35px 0;
    line-height: 1.5;
    text-align: left;
    margin: 0 0 0 30px;
}

.datos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    background-color: #eee;
    width: 650px;
    border-radius: 10px;
    border-color: #eee;
}

.datos .inputs {
    display: flex;
    flex-direction: column;
    margin: 5px 30px 5px 30px;
}

.datos .inputs input {
    border-radius: 7px;
    border: 1px solid;
    padding: 7px;
}

.datos .inputs label {
    margin: 20px 20px 20px 0;
    text-align: left;
}

.datos_dad {
    display: flex;
    justify-content: center;
}
